.cards-container {
  display: grid;
  grid-template-areas:
    'card-one card-one card-two card-two card-three card-three'
    'card-four card-four card-five card-five card-six card-six';
  grid-gap: 30px;
  margin: 0 40px;
}

.card-one {
  grid-area: card-one; 
}

.card-two {
  grid-area: card-two; 
}

.card-three {
  grid-area: card-three;
}

.card-four {
 grid-area: card-four;
}

.card-five {
 grid-area: card-five;
}

.card-six {
 grid-area: card-six; 
}