.sidebar{
  width: 23em;
  height: 100vh;
  position: fixed;
  padding: 2.5em 2.5em 0.5em 2.5em;
  background-color: #202020;
}

li{
  display: flex;
  justify-content: center;
}

.sidebar > .nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
  text-align: center;
}

.sidebar > .nav-bar > .nav-list {
  width: 100%;
}

.sidebar > .nav-bar > .nav-list > .nav-item > .link{
  color: var(--second-color);
  max-width: 100%;
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.25em;
  line-height: 1.75;
  outline: 0;
  padding: 1.35em 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.sidebar > .nav-bar > .nav-list > .nav-item > .link:hover{
  color: hsl(48, 93%, 59%, 0.8);
}

.sidebar > .nav-bar > .nav-list > .nav-item > .link::before,
.sidebar > .nav-bar > .nav-list > .nav-item > .link::after{
  border-radius: 0.2em;
  bottom: 0;
  content: '';
  height: 0.2em;
  position: absolute;
  width: 100%;
  right: 0;
}

  /* .sidebar > .nav-bar > .nav-list > .nav-item > .link::after {
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
    transition: max-width 0.2s ease;
  } */


.sidebar > .nav-bar > .media-list {
  display: flex;
}
