/* Base */
@import '3-Base/basic.css';

/* Generic */
@import '4-Generic/reset.css';

/* Components */
@import '1-Components/sidebar.css';
@import '1-Components/social-medias.css';


.wrapper {
  position: relative;
  left: 23em;
  width: calc(100% - 23em);
  height: 100vh;
}
